body
{
margin:0px;
padding:0px;
font-family:verdana;
}


.navigate
{
width:20%;
height:60px;
background:#333;
color:#fff;

float:left;
text-align:center;
padding-top:20px;
font-size:200%;
}

.navigate:hover
{
width:20%;
height:60px;
background:#999;

}

.top
{
background:#333;
}
.car
{
background:#999;
text-align:center;
min-height:350px;
padding-top:100px;
}
.icons
{
max-height:310px;
background:#666;
text-align:center;
}
.iconpic
{
max-height:310px;
}
.information
{
background:#777;
padding-top:30px;
padding-bottom:30px;
font-size:110%;
color:#fff8dc;
}



.footer
{
background:#222;
border-top:3px dashed grey;
text-align:center;
color:#fff;
font-size:120%;
padding:30px;
min-height:60px;
}


#flip11,#flip22,#flip33
{
display:none;
min-height:310px;
}




/*FONTS*/
p.info
{
text-align:justify;
}

a:link {color:#fff;text-decoration:none;}      /* unvisited link */
a:visited {color:#fff;text-decoration:none;}  /* visited link */
a:hover {color:lightblue;text-decoration:none;}  /* mouse over link */
a:active {color:#0000FF;text-decoration:none;}  /* selected link */
